__pycache__/
!nets/
nets/*
!nets/MobileNetV2/
!nets/MobileNetV3Small/
!nets/MobileNetV3Large/
!nets/NASNetMobile/
!nets/EfficientNetB0/
!nets/SqueezeNet/
!nets/GhostNet/
!nets/ShuffleNet/
!nets/ShuffleNetV2/
!nets/ResNet18/
!nets/ResNet34/